:root {
    --background-color: rgb(52, 58, 64);
    --primary-color: rgb(255, 96, 96);
}

html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    height: 100%;
}

main {
    text-align: center;
    background-color: var(--background-color);
}

.listItem {
    list-style-type: none;
}

.pageButton {
    color: black;
    display: flex;
    border-radius: 5px;
    background-color: var(--primary-color);
    width: 25pc;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    font-size: 50px;
}

table {
    table-layout: fixed;
    width: 800px;
    border: 1px solid;
}

th, td {
    border: 1px solid;
}


#loading-area {
    margin-left: auto;
    margin-right: auto;
}